.*
!.gitignore
Makefile*
*.log
*.aux
*.glob
*.vo
*.vok
*.vos
.DS_Store
temp
qasm/_build
*.opam
fit_test/logs
fit_test/*.pdf
fit_test/result_qiskit
fit_test/result_2sample
author-response
__pycache__
fit_test/temp.py
fit_test/data/synthesis/static/
fit_test/data/trash/
